{% extends "home/index.html" %}
{% load static %}
{% block INDEX_TITULO %}
  Bienvenido a Mis Clientes
{% endblock INDEX_TITULO %}
{% block INDEX_CONTENIDO %}
{% if user.is_staff %} 
  <div class="row ">
    <a href="{% url "Clientes:clientes_create" %}" class="btn btn-outline-dark">Crear Nuevo Cliente</a>
  </div>
  <div class="row ">
    <a href="{% url "Clientes:clientes_list" %}" class="btn btn-outline-dark mt-3 ">Ver Listado de Clientes</a>
  </div>
{% else %}
    <div class="row ">
        <a href="{% url "Clientes:clientes_list" %}" class="btn btn-outline-dark">Ver Listado de Clientes</a>
    </div>
  
{% endif %}
 
{% endblock INDEX_CONTENIDO %}