{% extends 'home/index.html' %}

{% block INDEX_TITULO %}
Registro de usuario
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-3"> 
            <button type="submit" class="btn btn-success">Registrar nuevo usuario</button>
        </div>
    </form>

    <div class="d-grid gap-3 mt-2 mb-3">
        <a href="{% url 'Home:home' %}" class="btn btn-outline-dark">Volver al menu</a>
    </div>

{% endblock INDEX_CONTENIDO %}
{% block BASE_FOOTER %}
{% endblock BASE_FOOTER %}